extends layout

block content
  h1 Welcome to Home
   br
   a(href="/about") About
   br
   a(href="/contact") Contact
   br 
   a(href="/server") Server
   br
   a(href="/projects") projects 
   br
   a(href="/test") Test
   br
   a(href="/trip-plug") Trip-Plug 
